{{> header}}
    <div class="main-container">
      <div class="game-container">
        <div class="game list-group" id="game-container">
          <h2 class="title"></h2>
          <ul id="game-list">
          </ul>
        </div>
        <form id="intro">
          <label for="name" class="control-label">What is your name?</label>
          <input type="text" name="name" class="form-control" id="name" />
        </form>
        <form id="game">
          <div class="inbetween-text alert alert-warning">
            <p></p>
          </div>
          <input type="text" class="form-control" id="game-input" />
          <p class="hint"></p>
        </form>
        <div id="leaderboard">
          <h2>Leaderboard</h2>
          <ol>
            {{#high_scores}}
              <li>{{name}} <span>({{time}})</span></li>
            {{/high_scores}}
          </ol>
        </div>
      </div>
    </div>
{{> footer}}
