{{> header}}
    <div class="main-container">
      <div class="game-container">
        <div id="leaderboard" style="display:block; margin-top: 0;">
          <h2>Leaderboard</h2>
          <ol>
            {{#high_scores}}
            <li>{{name}} <span>({{#time_formatter}}{{time}}{{/time_formatter}})</span></li>
            {{/high_scores}}
          </ol>
        </div>
      </div>
    </div>
{{> footer}}
