@font-face {
  font-family: got;
  src: url(../fonts/got.ttf);
}

body {
  background: url(../img/westeros.jpg) 0 0 #000 no-repeat;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 20px 0;
  font-family: got, sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 2.6px;
  text-shadow: 1px 1px 2px black;
}

header {
  background: rgba(0, 0, 0, 0.5);
}

.rules {
  background: #232323;
  text-align: center;
  padding: 12px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.main-container {
  width: 480px;
  margin: 34px auto;
  background: #3F4950;
  padding: 34px;
}

form#game {
  display: none;
  margin: 40px 0 0 0;
}

form label {
  font-weight: normal;
}

form input {
  font-size: 44px;
}

form p a {
  cursor: pointer;
}

div.regex {
  display: none;
}

ul#regex-list {
  margin: 0;
  padding: 0;
}

ul#regex-list .matched {
  color: #DFE876;
}

h2.title {
  font-size: 18px;
  color: #fff;
  padding: 0 0 22px 0;
  margin-top: 0;
}

.inbetween-text {
  font-size: 14px;
  color: #fff;
  display: none;
  cursor: pointer;
}

.inbetween-text a {
  text-decoration: none;
}

p.win {
  font-family: got, sans-serif;
  letter-spacing: 3px;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.38);
}

.winner {
  background: url(../img/dragon.jpg) -2px -40px;
  padding: 0;
}

#leaderboard {
  margin-top: 40px;
  border-radius: 6px;
  padding: 20px;
  display: none;
  background: #232323;
}

#leaderboard h2 {
  font-family: got, serif;
  margin: 0;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

#leaderboard ol {
  list-style-position: inside;
  margin: 20px 0 0 0;
  padding: 0;
}

#leaderboard ol li {
  font-size: 16px;
  margin: 12px 0;
}

#leaderboard ol li span {
  font-size: 14px;
  color: #fff;
}

.hint {
  font-style: italic;
  margin: 20px 0 0 0;
  font-size: .9em;
}

.hint:before {
  content: "Hint: ";
}
